.floating-lines-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: auto;
}

.floating-lines-container canvas {
    display: block;
    width: 100%;
    height: 100%;
}